{
  "presets": ["es2015", "stage-0", "react"],
  "env": {
    "test": {
      "plugins": [
        "dynamic-import-node",
        ["module-resolver", {
          "root": ["./modules"]
        }]
      ]
    },
    "production": {
      "presets": [
        ["es2015", {"modules": false}],"stage-0", "react"]
    }
  }
}
