{
  "presets": [
    ["es2015", {"modules": false}],
    "stage-0", "react"],
  "env": {
    "test": {
      "plugins": [
        "dynamic-import-node",
        ["module-resolver", {
          "root": ["./src"]
        }]
      ]
    },
    "production": {
      presets: [
        ["es2015", {"modules": false, "loose": true}],
        "stage-0", "react"
      ]
    }
  }
}
